.gallery-section {
  padding: 3rem 1rem;
  max-width: 1440px;
  /* margin: auto; */
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  grid-auto-rows: min-content;
}

@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    height: 700px;
  }
}

@media (min-width: 1200px) {
  .gallery-section {
    padding-left: 3.8rem;
    padding-right: 3.8rem;
  }
}

.gallery-item {
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
  height: 300px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s ease;
   border-radius: 1.2rem;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

/* Tall items */
@media (min-width: 768px) {
  .gallery-item.tall {
    height: 100%;
    border-radius: 0;
    grid-row: span 2;
  }

  .gallery-item.portrait {
    grid-column: span 1;
  }
}
