.services-section {
  padding: 80px 20px;
  max-width: 1400px;
  margin: auto;
}

.section-header .badge {
  background: #ff7e46;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 13px;
  color: white;
}

.section-header .title {
  font-size: 42px;
  font-weight: 800;
  margin: 20px 0 50px;
}

.services-container {
  display: flex;
  gap: 50px;
}

/* SIDEBAR */
.services-sidebar {
  width: 30%;
  position: sticky;
  top: 100px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-item {
  padding: 18px 22px;
  border-radius: 12px;
  text-align: left;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
}

.nav-item.active {
  background: white;
  font-weight: 700;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
}

.nav-item:hover {
  background: #ffffff50;
}

.play-icon {
  width: 16px;
  fill: #ff7e46;
}

/* RIGHT CONTENT */
.services-content {
  flex: 1;
  height: 600px;
  overflow-y: auto;
  padding-right: 10px;
  scroll-behavior: smooth;
}

.service-card {
  background: #f7f7f7;
  padding: 40px;
  border-radius: 28px;
  margin-bottom: 40px;
  border: 1px solid #eee;
}

.service-card h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.service-card p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* TAGS */
.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.tag {
  background: white;
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 13px;
}

/* BUTTON */
.details-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
  background: none;
  border: none;
}

.circle {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 18px;
}
